
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        @foreach (var stu in ViewBag.model)
        {
            <li> Id: @stu.StudentID   Name: @stu.StudentName   Age:  @stu.Age</li>
        }
    </ul>
</body>
</html>
